In [3]:
import pandas as pd

df = pd.read_excel('dataset/Financial_Dataset.xlsx')

df.head()

,Project_ID,Investment_Cost,Revenue_Stream,Debt_Ratio,Payment_Delay,Konteks_Proyek,Status_Rank
0,PLTS-NTT-001,150.00,12.5,0.65,30,"PLTS di Sumba, biaya logistik tinggi, pendanaa...",Medium: ★★★☆☆
1,PLTM-SUMUT-001,80.00,6.8,0.55,15,"PLTM di Tapanuli, akses mudah ke jaringan PLN",Low: ★★☆☆☆
2,PLTS-JATIM-001,200.23,18.0,0.70,45,"PLTS besar di Surabaya, permintaan pasar tinggi",High: ★★★★☆
3,PLTM-KALB-001,90.00,7.2,0.60,20,"PLTM di Kalimantan Barat, tantangan lahan adat",Medium: ★★★☆☆
4,PLTS-SULS-001,125.50,10.0,0.50,10,"PLTS di Makassar, efisiensi tinggi distribusi",Low: ★☆☆☆☆

In [5]:
import pandas as pd

df = pd.read_excel('dataset/Environmental_Dataset.xlsx')

df.head()

,Project_ID,CO2_Reduction,Energy_Output,Environmental_Risk_Index,Konteks_Lingkungan,Peringkat_Dampak
0,PLTS-NTT-001,75000,25000,45,"Sumba: radiasi matahari tinggi, rawan kekeringan",High: 🌿🌿🌿🌿
1,PLTM-SUMUT-001,30000,10000,60,"Tapanuli: banjir musiman, debit air stabil",Medium: 🌿🌿🌿
2,PLTS-JATIM-001,90000,30000,30,"Surabaya: risiko rendah, efisiensi tinggi",High: 🌿🌿🌿🌿🌿
3,PLTM-KALB-001,35000,12000,55,"Kalbar: rawan banjir, hutan lindung dekat",Medium: 🌿🌿🌿
4,PLTS-SULS-001,60000,20000,40,"Makassar: cuaca stabil, risiko sedang",High: 🌿🌿🌿🌿

In [6]:
import pandas as pd

df = pd.read_excel('dataset/Social_Dataset.xlsx')

df.head()

,Project_ID,Land_Status,Community_Support,Population_Density,Konteks_Sosial,Tingkat_Konflik
0,PLTS-NTT-001,Adat,70,50,"Sumba: lahan adat, konsultasi intensif",High: ⚠️⚠️⚠️
1,PLTM-SUMUT-001,Negara,85,200,"Tapanuli: izin BPN lancar, dukungan tinggi",Low: ⚠️
2,PLTS-JATIM-001,Swasta,90,800,"Surabaya: lahan swasta, masyarakat urban",Low: ⚠️
3,PLTM-KALB-001,Adat,65,100,"Kalbar: lahan adat, risiko konflik sedang",High: ⚠️⚠️⚠️
4,PLTS-SULS-001,Negara,80,300,"Makassar: izin mudah, dukungan baik",Medium: ⚠️⚠️

In [7]:
import pandas as pd

df = pd.read_excel('dataset/Economic_Dataset.xlsx')

df.head()

,Project_ID,GDP_Growth,Interest_Rate,Bond_Yield,Konteks_Ekonomi,Daya_Tarik_Investasi
0,PLTS-NTT-001,4.5,4.2,5.1,"Sumba: pertumbuhan rendah, pariwisata hijau",Medium: 💵💵💵
1,PLTM-SUMUT-001,5.2,3.8,4.8,"Tapanuli: ekonomi agro, stabil",High: 💵💵💵💵
2,PLTS-JATIM-001,6.0,0.0,5.0,"Surabaya: pasar besar, industri kuat",High: 💵💵💵💵💵
3,PLTM-KALB-001,4.8,4.1,5.2,"Kalbar: ekonomi perkebunan, sedang tumbuh",Medium: 💵💵💵
4,PLTS-SULS-001,5.5,0.0,4.9,"Makassar: hub ekonomi, pendidikan tinggi",High: 💵💵💵💵

In [8]:
import pandas as pd

df = pd.read_excel('dataset/Geospatial_Dataset.xlsx')

df.head()

,Project_ID,Solar_Irradiance,Water_Flow,Distance_to_Grid,Konteks_Geospasial,Efisiensi_Lokasi
0,PLTS-NTT-001,5.8,0.0,8,"Sumba: radiasi tinggi, dekat jaringan",High: 📍📍📍📍
1,PLTM-SUMUT-001,0.0,1.5,5,"Tapanuli: debit stabil, akses PLN baik",High: 📍📍📍📍
2,PLTS-JATIM-001,5.5,0.0,3,"Surabaya: radiasi baik, jaringan dekat",High: 📍📍📍📍📍
3,PLTM-KALB-001,0.0,1.8,10,"Kalbar: debit tinggi, jaringan sedang",Medium: 📍📍📍
4,PLTS-SULS-001,5.7,0.0,6,"Makassar: radiasi tinggi, akses baik",High: 📍📍📍📍